################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMSWebApp/CMSWebApp/obj
/CMSWebApp/CMSWebApp/bin/Debug/net8.0
/CMSWebApp/.vs
/.vs
